<h3>Eventos que participei</h3>

<section class="txt">
  <strong>2016</strong>: <a href="http://www.devparana.org/conf/">DevParaná Conf 2016</a> - <a href="http://www.devparana.org/">DevParaná</a>
</section>

<p class="source">
    Organização
</p>

<section class="txt">
  <strong>2016</strong>: <a href="http://www.meetup.com/pt-BR/developerparana/events/232205962/">Meetup DevParaná</a> - <a href="http://www.devparana.org/">DevParaná</a>
</section>

<p class="source">
    Organização
</p>

<section class="txt">
  <strong>2016</strong>: <a href="http://braziljs.com.br/2016">BrazilJS Conf 2016</a> - <a href="http://www.braziljs.com.br/">BrazilJS</a>
</section>

<section class="txt">
  <strong>2016</strong>: <a href="http://www.meetup.com/pt-BR/developerparana/events/228785576/">Meetup DevParaná</a> - <a href="http://www.devparana.org/">DevParaná</a>
</section>

<p class="source">
    Organização
</p>

<section class="txt">
  <strong>2016</strong>: <a href="http://www.meetup.com/pt-BR/developerparana/events/228785524/">Meetup DevParaná</a> - <a href="http://www.devparana.org/">DevParaná</a>
</section>

<p class="source">
    Organização
</p>

<section class="txt">
  <strong>2015</strong>: <a href="http://www.meetup.com/pt-BR/developerparana/events/226163759/">Meetup DevParaná</a> - <a href="http://www.devparana.org/">DevParaná</a>
</section>

<p class="source">
    Organização e Palestra
</p>

<section class="txt">
  <strong>2015</strong>: <a href="http://braziljs.com.br/2015">BrazilJS Conf 2015</a> - <a href="http://www.braziljs.com.br/">BrazilJS</a>
</section>

<section class="txt">
  <strong>2014</strong>: <a href="http://braziljs.com.br/2014">BrazilJS Conf 2014</a> - <a href="http://www.braziljs.com.br/">BrazilJS</a>
</section>

<section class="txt">
  <strong>2013</strong>: <a href="http://braziljs.com.br/2013">BrazilJS Conf 2013</a> - <a href="http://www.braziljs.com.br/">BrazilJS</a>
</section>
