<h1>Resumo</h1>

<p>
    Trabalho com JavaScript desde 2008, atualmente em <a target="_blank" href="https://github.com/GUMGA">projetos open source</a> pela <a target="_blank" href="http://gumga.com.br/">Gumga Tecnologia da informação S/A</a> desenvolvendo <a target="_blank" href="https://www.npmjs.com/~gumga">componentes</a> para aplicações AngularJS, entre outros <a target="_blank" href="https://www.npmjs.com/~guiseek">projetos pessoais</a> paralelos.
</p>

<p>
    Sou co-fundador da <a target="_blank" href="https://www.eventosdobem.com.br/">Eventos do Bem</a> (<a target="_blank" href="https://github.com/eventos-do-bem/frontend-app">também open source</a>), startup de arrecadação de recursos para organizações sociais e da <a target="_blank" href="http://www.rockmedia.com.br/">Rockmedia Soluções para Internet</a>, onde trabalhei com PHP (Zend Framework) por vários anos.
</p>
<p>
    E por gostar disso tudo, membro organizador da comunidade <a target="_blank" href="http://www.devparana.org/">DevParaná</a> desde seu inicio, colaborando pra fazer acontecer diversos <a target="_blank" href="https://www.meetup.com/pt-BR/developerparana/">meetups</a> e <a target="_blank" href="http://www.devparana.org/conf/">conferências</a>.
</p>
