<h3>Gumga Tecnologia da Informação S/A</h3>

<p>
    <strong>2015 ~ atualmente</strong>:
    Desenvolvimento de componentes reutilizáveis ligeiramente acoplados para aplicações AngularJS 1.x.
</p>

<h3>Eventos do Bem</h3>

<p>
    <strong>2016 ~ atualmente</strong>:
    Co-fundador, responsável por desenvolver o front-end desde os requisitos de funcionalidades e comportamentos até a implementação final.
</p>

<h3>Rockmedia</h3>

<p>
    <strong>2010 ~ 2015</strong>:
    Co-fundador, com participação em todas as etapas de desenvolvimento de websites e sistemas web. 
</p>
