<h3>Contribuições (<i>presenciais</i>) na comunidade</h3>

<section class="txt">
    <a href="https://www.meetup.com/pt-BR/developerparana/events/240224111/">DevParaná in Academy</a> - <a href="http://guiseek.js.org/Component-Oriented-Architecture-with-AngularJS/#/">Arquitetura orientada a componentes com AngularJS</a>
    no Instituto Tecnológico Federal do Paraná em Campo mourão - PR - <a href="http://www.devparana.org/">DevParaná</a>
</section>

<p class="source">
    Maio de 2017
</p>

<section class="txt">
    <a href="https://www.facebook.com/fafiman/photos/gm.1974308986135165/1574701729230390/?type=3&theater">XLX Semana cultural da FAFIMAN</a> - <a href="http://guiseek.js.org/Component-Oriented-Architecture-with-AngularJS/#/">Arquitetura orientada a componentes com AngularJS</a>
    na faculdade Fafiman em Mandaguari - PR - <a href="http://www.devparana.org/">DevParaná</a>
</section>

<p class="source">
    Maio de 2017
</p>

<section class="txt">
    <a href="http://www.meetup.com/pt-BR/developerparana/events/232206834/">Meetup</a> - Mais poder ao HTML com AngularJS
    na faculdade Alfa em Umuarama - PR - <a href="http://www.devparana.org/">DevParaná</a>
</section>

<p class="source">
    Outubro de 2016
</p>

<section class="txt">
    ES6 com AngularJS 1.x para Semana da computação na UTFPR em Campo Mourão - PR
</section>

<p class="source">
    Setembro de 2016
</p>

<section class="txt">
    Minicurso de AngularJS para alunos da Fafiman em Mandaguari - PR
</section>

<p class="source">
    Junho de 2016
</p>

<section class="txt">
    Módulo M.E.A.N para Pós graduação da Unoesc em Chapecó - SC (<a href="https://github.com/guiseek/unoesc-app">Backend</a>            e <a href="https://github.com/guiseek/unoesc-app-front">Frontend</a>)
</section>

<p class="source">
    Fereveiro de 2016
</p>

<section class="txt">
    <a href="http://guiseek.js.org/curso-html-css-javascript-angularjs">HTML, CSS, JavaScript e AngularJS</a> (Curso
    de nivelamento para uso do framework Gumga)
</section>

<p class="source">
    Janeiro de 2016
</p>

<section class="txt">
    <a href="http://www.meetup.com/pt-BR/developerparana/events/226163759/">Meetup</a> - <a href="http://guiseek.js.org/mais-poder-ao-html-com-angularjs">Mais poder ao HTML com AngularJS</a>            na faculdade Cidade Verde em Maringá - PR - <a href="http://www.devparana.org/">DevParaná</a>
</section>

<p class="source">
    Novembro de 2015
</p>

<section class="txt">
    <a href="#">MongoDB, Express, AngularJS e NodeJS</a> (Palestra na <a href="http://fatecie.edu.br/faculdadefatecie/semanaacademica2015">Semana acadêmica 2015 - Fatecie</a>)
</section>

<p class="source">
    Setembro de 2015
</p>

<section class="txt">
    <a href="http://bit.ly/uninga-angular">Atualizando Sistemas Web com AngularJS</a> (Palestra na
    <a href="http://secomp.uninga.br">II semana da computação Uningá</a>)
</section>

<p class="source">
    Setembro de 2015
</p>

<section class="txt">
    <a href="http://rockmedia.com.br/silex-jquery-twbs/">Aplicações Web com Silex, Twitter Bootstrap e jQuery</a>            (<a href="http://www.unicesumar.edu.br/2014/informatica/programacao.php">Minicurso na semana da informática do Unicesumar</a>)
</section>

<p class="source">
    Outubro de 2014
</p>

<section class="txt">
    <a href="http://goo.gl/qMr5Zh">Introdução ao PHP</a> (Monitoria para os alunos do 2&ordm; ano de Sistemas para
    Internet)
</section>

<p class="source">
    Junho de 2014
</p>

<section class="txt">
    <a href="http://goo.gl/Jq6LoC">Web Off-line</a> (Seminário sobre Aplicações web com Application Cache e Storage)
</section>

<p class="source">
    Outubro de 2013
</p>
